<div class="page-title"><h1>Upcoming Games</h1></div>
<div class="search-bar">Search by Title: <input #gameType value="Demon Souls">
  <button (click)="submitInput(gameType.value)">Search</button>
</div>
<app-content-card *ngFor="let upcomingGame of (upcomingGames | filterContent: 'Action RPG'); index as i;" [game]="upcomingGame" class="action-cards">

</app-content-card>
<app-content-card *ngFor="let upcomingGame of (upcomingGames | filterContent: 'FPS'); index as i;" [game]="upcomingGame" class="fps-cards">

</app-content-card>
<app-content-card *ngFor="let upcomingGame of (upcomingGames | filterContent: 'Fantasy'); index as i;" [game]="upcomingGame" class="fantasy-cards">

</app-content-card>


