<div class="page-title"><h1>Upcoming Games</h1></div>

<app-create-content (newGameEvent)="addToGameList($event)"></app-create-content>

<app-content-card *ngFor="let upcomingGame of (upcomingGames | filterContent: 'Action RPG'); index as i;" [game]="upcomingGame" class="action-cards">

</app-content-card>
<app-content-card *ngFor="let upcomingGame of (upcomingGames | filterContent: 'FPS'); index as i;" [game]="upcomingGame" class="fps-cards">

</app-content-card>
<app-content-card *ngFor="let upcomingGame of (upcomingGames | filterContent: 'Fantasy'); index as i;" [game]="upcomingGame" class="fantasy-cards">

</app-content-card>


