.page-title {
  margin: auto;
  text-align: center;
}

.action-cards {
  border: 2px solid red;
}

.fps-cards {
  border: 2px solid green;
}

.fantasy-cards {
  border: 2px solid blue;
}

.search-bar {
  margin: 0 auto;

}
