
<div>Game Name: <input [(ngModel)]="newGame.title" value="Bugsnax" ></div>
<div>Development Studio: <input [(ngModel)]="newGame.author" value="Young Horses"></div>
<div>Genre: <input [(ngModel)]="newGame.type" value="Action RPG"></div>
<div>Game Description: <input [(ngModel)]="newGame.body" value="Bugsnax is an upcoming adventure video game developed by independent game studio Young Horses. In the game, players explore a mysterious island and attempt to find and capture the eponymous half-bug-half-snack creatures"></div>
<div>Game Image: <input [(ngModel)]="newGame.imgUrl"></div>
<div><button (click)="addGame()">Add Game</button></div>
<span [innerHTML]="screenMessage"></span>
